beautifulsoup4==4.3.2
bunch==1.0.1
cffi==0.9.1
cryptography==0.8
enum34==1.0.4
gevent==1.0.1
greenlet==0.4.5
mpv==0.1
psutil==2.2.1
pyasn1==0.1.7
pycparser==2.10
pyOpenSSL==0.14
python-jsonrpc==0.7.1
pytz==2014.10
pywin32==219
requests==2.6.0
romkan==0.2.1
six==1.9.0
Twisted==15.0.0
ws4py==0.3.4
zope.interface==4.1.2
