h1 {
  font-size: 300%;
  font-weight: bold;
}

body {
  font-family: 'trebuchet MS', 'Lucida sans', Arial;
  font-size: 14px;
  color: #444;
}

.sidebar {
  width: 150px;
  height: 100%;
  float: left;
  background: red;
  padding: 10px
}

div#authentication {
  text-align: right;
  display: block;
  margin: none;
}

div#current_user {
  font-weight: bold;
  font-size: 115%;
}

input.login {
  width: 100px;
}
input.logout {
  width: 100px;
}
input.register {
  width: 100px;
}

table.authentication {
  text-align: right;
  float: right;
  margin: 0px auto;
  width : 0;
  white-space: nowrap;
}
table.header {
  margin: 0px auto;
}

table.title {
  margin: 0px auto;
  padding: 0px;
}
table.description {
  margin: 0px auto;
  padding: 0px;
}

table.info {
  margin: 0px;
  padding: 10px;
  width: 0px;
  border-spacing: 5px;
}

td.label {
  font-weight: bold;
}

div.block {
  width: 90%;
}

td.left {
  text-align: left;
}
td.right {
  text-align: right;
}

.splash {
  text-align: center;
}

.navigation_bar a:visited {
  color: blue;
}

.navigation_bar {
  text-align: center;
}

div#content {
  width : 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div#title {
  width : 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div#description {
  width : 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div#header {
  width : 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div#footer {
  width : 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: smaller;
  padding: 10px;
}

table#login_logout_buttons {
  width: 0%;
}

table {
  margin: 20px auto;
  *border-collapse: collapse; /* IE7 and lower */
  border-spacing: 0;
  width: 100%;  
}

td.text {
  width: 50%
}

.tablename {
  margin: 20px auto;
}

.bordered {
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc; 
    -moz-box-shadow: 0 1px 1px #ccc; 
    box-shadow: 0 1px 1px #ccc;         
}

.bordered tr:hover {
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;     
}    
    
.bordered td, .bordered th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: left;    
}

.bordered th {
    background-color: #dce9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:    -moz-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:     -ms-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:      -o-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:         linear-gradient(top, #ebf3fc, #dce9f9);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5); 
}

.bordered td:first-child, .bordered th:first-child {
    border-left: none;
}

.bordered th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.bordered th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.bordered th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}

table.rounded {
    border-collapse: separate;
    border-spacing: 0;
}
table.rounded, td.rounded{
    border: 1px solid black;
    border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 5px;
}

