<!DOCTYPE html>
<html>
<head>
<title>Weeabot Jisho Lookups</title>
{% load staticfiles %}<link rel="stylesheet" href="{% static "style.css" %}" type="text/css" />
</head>
<body>
<h1 class="tablename">Weeabot Jisho Lookups</h1>
{% if definitions %}
	<table class="urls bordered">
    <thead class='definitions'>
	    <tr>
        <th class="timestamp">Timestamp</th><th class="channel">Channel</th><th class="nick">Nick</th><th class='word'>Lookup</th><th class='text'>Definition</th><th class='url'>URL</th><th>Vocabulary Lists</th><th>Add To:</th>
      </tr>
    </thead>
    <tbody>
    {% for definition in definitions %}
        <tr class='definition'>
				<td class="timestamp">{{ definition.timestamp }}</td>
				<td class="channel">{{ definition.channel }}</td>
        <td class="nick"><a href="nick/{{ definition.simple_nick }}">{{ definition.simple_nick }}</a></td>
        <td class='word'>{{ definition.word }}</td>
        <td class='text'>{{ definition.text }}</td>
        <td class='url'><a href="{{ definition.url }}" target="_blank">link</a></td>
	<td class='url'>
		{% for vlist in definition.lists.all %}
			<a href="vocab/{{ vlist.name }}">{{ vlist.name }}</a>
		{% endfor %}
	</td>
	<td>
		<form action="" method="post">
			{% csrf_token %}
			<select id="ddVlist" name="vlist">
			<option  selected="selected">...</option>
    {% for vlist in lists %}
			{% if vlist not in definition.lists.all %}
        <option value="{{ vlist.name }}">{{ vlist.name }}</option>
			{% endif %}
    {% endfor %}
			</select>
			<input type="hidden" name="definition" value="{{ definition.pk }}">  
			<input type="submit" value="Select">
		</form>
	</td>
      </tr>
    {% endfor %}
    </tbody>
    <tfoot>
        <tr><td class="footer" colspan=8><em>To edit history use the django /admin interface.</em></td></tr>
    </tfoot>
    </table>

<div class="pagination">
    <span class="step-links">
        {% if definitions.has_previous %}
            <a href="?page={{ definitions.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ definitions.number }} of {{ definitions.paginator.num_pages }}.
        </span>

        {% if definitions.has_next %}
            <a href="?page={{ definitions.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% else %}
    <p class="message">No lookups to display.</p>
{% endif %}
</body>
