{% extends 'shared/base.html' %}

{% block content %}
	<table class="urls bordered">
    <thead class='definitions'>
	    <tr>
        <th class="name">List</th><th class='text'>Description</th><th class='entrycount'>Number of Entries</th><th>Last Updated</th>
      </tr>
    </thead>
    <tbody>
    {% for vocablist in lists %}
      <tr class='definition'>
              <td class="name"><a href="{{ vocablist.name }}">{{ vocablist.name }}</a></td><td class='text'>{{ vocablist.desc }}</td><td class='entrycount'>{{ vocablist.entries.all|length }}</td><td>xxx</td>
      </tr>
    {% endfor %}
    </tbody>
    <tfoot>
        <tr><td class="footer" colspan=4><em>Page generated {% now "jS F Y H:i" %}.</em></td></tr>
    </tfoot>
    </table>
</body>

{% endblock %}
