<!DOCTYPE html>
<html lang="en">
<head>
  {% load staticfiles %}<link rel="stylesheet" href="{% static "style.css" %}" type="text/css" />
  <title>{{ title|default:"Weeabot" }}</title>
</head>

<body>
  {% block header %}
    {% include "shared/header.html" %}
  {% endblock %}
  {% block title %}
  <h1>{{ title|default:"Weeabot" }}</h1>
  {% endblock %}
  <div id="content">
    {% block content %}{% endblock %}
  </div>
  {%block footer %}
    {% include "shared/footer.html" %} 
  {% endblock %} 
</body>
</html>
