{% extends 'shared/base.html' %}
{% load url from future %}
{% block content %}
<form method="post" action=''>
{% csrf_token %}
  <table class='info'>
    <tr><td class='label'>Username</td><td>{{ user.username }}</td></tr>
    <tr><td class='label'>Creation Date</td><td>{{ user.date_joined }}</td></tr>
    <tr><td class='label'>Last Login</td><td>{{ user.last_login }}</td></tr>
    <tr><td class='label'>{{ userform.first_name.label }}</td><td>{{ userform.first_name }}</td></tr>
    <tr><td class='label'>{{ userform.last_name.label }}</td><td>{{ userform.last_name }}</td></tr>
    <tr><td class='label'>{{ userform.email.label }}</td><td>{{ userform.email }}</td></tr>
    <tr><td class='label'>Associated IRC Nick</td><td>{{ form.nick }}</td></tr>
    <tr><td><input type="submit" name='cancel' value="Cancel" /></td><td><input type="submit" name='update' value="Update" /></td></tr>
  </table>
</form>
<p>If you wish you can also <a href='/accounts/password/change'>change your password.</a><p>
{% endblock %}
