{% extends 'shared/base.html' %}
{% with title='Change Password' description='Change your Weeabot password.' %}
{% load url from future %}
{% block content %}
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
{% load i18n %}
    <form method="POST" action="{% url 'account_password_change' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action">Change Password</button>
    </form>
{% endblock %}
{% endwith %}
