<!DOCTYPE html>
<html>
<head>
<title>Weeabot Change Password</title>
{% load staticfiles %}<link rel="stylesheet" href="{% static "style.css" %}" type="text/css" />
</head>
<body>
{% include "shared/header.html" %}
<h1>Weeabot Change Password for user {{ user.username }}</h1>

{% load url from future %}
{% block content %}
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% load url from future %}
{% load i18n %}

    <form method="POST" action="{% url 'account_password_change' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action">Change Password</button>
    </form>
{% endblock %}
</body>
